// Custom styles.

body {
    background:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}


// 侧边标题栏
.header-inner {
  opacity: 0.85;
}

// 侧边头像栏
.sidebar{
  transition-duration: 0.4s;  
  opacity: 0.85;  // 透明度
}

// 中心文章栏
.content {
  padding-top: 15px;
  opacity: 0.8;
}





